<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">
                    Reiniciar contraseña
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="forgotPasswordForm" method="post" action="" novalidate="novalidate">
                    <input type="hidden"
                           value="@Url.Action("ResetPassword", "Account", new { id = "#Id", token = "#Token" }, Context.Request.Scheme)"
                           id="forgotPasswordConfirmationUrl" name="forgotPasswordConfirmationUrl" />

                    <div class="mb-5">
                        <label for="forgotPasswordEmail">Email</label>
                        <input id="forgotPasswordEmail" name="forgotPasswordEmail" type="email" class="form-control" />
                    </div>

                    <div class="text-center form-sm mt-2">
                        <button id="forgotPasswordSubmit" class="btn btn-info">Reiniciar contraseña</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>