@{
    ViewData["Title"] = "Cambiar contraseña";
}

<div class="row justify-content-around p-5">
    <form id="changeForm" method="post" action="" class="col-6" novalidate="novalidate">
        <input type="hidden" id="changeId" name="changeId" />

        <div class="mb-5">
            <label for="changeOldPassword">Contraseña actual</label>
            <input id="changeOldPassword" name="changeOldPassword" type="password" class="form-control" />
        </div>

        <div class="mb-5">
            <label for="changeNewPassword">Nueva contraseña</label>
            <input id="changeNewPassword" name="changeNewPassword" type="password" class="form-control" />
        </div>

        <div class="mb-5">
            <label for="changeConfirmNewPassword">Confirmar nueva contraseña</label>
            <input id="changeConfirmNewPassword" name="changeConfirmNewPassword" type="password" class="form-control" />
        </div>

        <div class="text-center form-sm mt-2">
            <button id="changeSubmit" class="btn btn-info">Cambiar contraseña<i class="fa fa-key ml-1"></i></button>
        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/app/pages/Account.ChangePassword.js"></script>
}