@{
    ViewData["Title"] = "Reiniciar contraseña";
}

<h2>Reiniciar contraseña</h2>

<form method="post" id="resetForm" action="">
    <div class="mb-5">
        <label for="resetPassword">Nueva contraseña</label>
        <input id="resetPassword" name="resetPassword" type="password" class="form-control" />
    </div>

    <div class="mb-5">
        <label for="resetConfirmPassword">Recuperar contraseña</label>
        <input id="resetConfirmPassword" name="resetConfirmPassword" type="password" class="form-control" />
    </div>

    <div class="text-center form-sm mt-2">
        <button id="resetSubmit" class="btn btn-info">Reiniciar contraseña<i class="fa fa-key ml-1"></i></button>
    </div>
</form>