@model WebSitesMVCTemplate.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reiniciar contraseña";
}

<div class="row justify-content-around p-5">
    <form id="resetForm" method="post" action="" class="col-6" novalidate="novalidate">
        <input type="hidden" value="@Model.Id" id="resetId" name="resetId" />
        <input type="hidden" value="@Model.Token" id="resetToken" name="resetToken" />

        <div class="mb-5">
            <label for="resetPassword">Nueva contraseña</label>
            <input id="resetPassword" name="resetPassword" type="password" class="form-control" />
        </div>

        <div class="mb-5">
            <label for="resetConfirmPassword">Confirmar contraseña</label>
            <input id="resetConfirmPassword" name="resetConfirmPassword" type="password" class="form-control" />
        </div>

        <div class="text-center form-sm mt-2">
            <button id="resetSubmit" class="btn btn-info">Reiniciar contraseña<i class="fa fa-key ml-1"></i></button>
        </div>
    </form>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/app/pages/Account.ResetPassword.js"></script>
}