@{
    ViewData["Title"] = "Listado de usuarios";
}

<div class="row justify-content-around p-5">
    <table id="usersTable" class="display table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>Nombre completo</th>
                <th>Documento de identidad</th>
                <th>Email</th>
                <th>Telefono/Celular</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th class="no-search"></th>
                <th>Nombre completo</th>
                <th>Documento de identidad</th>
                <th>Email</th>
                <th>Telefono/Celular</th>
                <th class="no-search"></th>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/js/app/User.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/app/pages/User.List.js")"></script>
}