<div class="row p-5">
    <div class="col-md-12 mb-4">
        <img src="~/images/Dentist-1110x450.jpg" />
    </div>
    <div class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet risus id orci vulputate, vel fringilla nisl mollis. Nulla facilisis ultrices sem, eu efficitur lorem tincidunt sed. Curabitur porttitor mattis elit, id posuere velit dictum ut. Quisque lacus enim, faucibus quis est sed, porttitor mattis enim. Donec viverra mattis leo quis iaculis. Quisque laoreet et mi sed faucibus. Mauris diam lacus, semper id diam non, iaculis tristique ex. Donec in dolor vitae nisl semper fringilla. In sed maximus ligula. Nunc sit amet tellus sed est laoreet cursus. Cras metus libero, porttitor eu libero et, dictum pellentesque orci.
        </p>
        <p>
            Sed id aliquet quam. Donec euismod, leo eu congue imperdiet, ligula nisl pellentesque mi, vel vehicula massa tortor eget massa. Nam in porttitor nibh. Aliquam pulvinar rhoncus nulla. Sed semper bibendum sem, at volutpat lorem aliquet sed. Nulla in tellus tempor, varius tortor eget, convallis lorem. Nullam molestie aliquet lectus sit amet pharetra. Aliquam erat volutpat. Aliquam quis est odio. Proin felis neque, dapibus eu convallis a, aliquet et justo. Ut laoreet sit amet neque finibus congue. Donec mattis elementum diam, eu congue ligula suscipit ac.
        </p>
        <p>
            Phasellus lobortis maximus pellentesque. Aliquam vulputate lacinia fermentum. Proin et lectus tortor. Phasellus ut venenatis lacus, a posuere justo. Etiam sit amet leo velit. Integer eu leo cursus, bibendum metus eu, facilisis tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec lectus diam, fringilla ac mollis vel, maximus ac elit.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet risus id orci vulputate, vel fringilla nisl mollis. Nulla facilisis ultrices sem, eu efficitur lorem tincidunt sed. Curabitur porttitor mattis elit, id posuere velit dictum ut. Quisque lacus enim, faucibus quis est sed, porttitor mattis enim. Donec viverra mattis leo quis iaculis. Quisque laoreet et mi sed faucibus. Mauris diam lacus, semper id diam non, iaculis tristique ex. Donec in dolor vitae nisl semper fringilla. In sed maximus ligula. Nunc sit amet tellus sed est laoreet cursus. Cras metus libero, porttitor eu libero et, dictum pellentesque orci.
        </p>
        <p>
            Sed id aliquet quam. Donec euismod, leo eu congue imperdiet, ligula nisl pellentesque mi, vel vehicula massa tortor eget massa. Nam in porttitor nibh. Aliquam pulvinar rhoncus nulla. Sed semper bibendum sem, at volutpat lorem aliquet sed. Nulla in tellus tempor, varius tortor eget, convallis lorem. Nullam molestie aliquet lectus sit amet pharetra. Aliquam erat volutpat. Aliquam quis est odio. Proin felis neque, dapibus eu convallis a, aliquet et justo. Ut laoreet sit amet neque finibus congue. Donec mattis elementum diam, eu congue ligula suscipit ac.
        </p>
        <p>
            Phasellus lobortis maximus pellentesque. Aliquam vulputate lacinia fermentum. Proin et lectus tortor. Phasellus ut venenatis lacus, a posuere justo. Etiam sit amet leo velit. Integer eu leo cursus, bibendum metus eu, facilisis tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec lectus diam, fringilla ac mollis vel, maximus ac elit.
        </p>
    </div>
    <div class="col-md-4 mt-4">
        <div>
            <img src="~/images/Odonotopediatria.jpg" />
        </div>
        <div class="mt-2 text-center">
            <span class="text-uppercase font-weight-bold">Odonotopediatria</span>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div>
            <img src="~/images/Ortodoncia.jpg" />
        </div>
        <div class="mt-2 text-center">
            <span class="text-uppercase font-weight-bold">Ortodoncia</span>
        </div>
    </div>
    <div class="col-md-4 mt-4">
        <div>
            <img src="~/images/Prostodoncia.jpg" />
        </div>
        <div class="mt-2 text-center">
            <span class="text-uppercase font-weight-bold">Prostodoncia</span>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/app/pages/Home.Index.js"></script>
}